.panel-main {
    display: flex;
    align-items: center;
    flex-direction: column;

    .views {
        display: flex;

        .panel {
            border: 1px solid #ccc;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        padding: 20px;
        gap: 20px;
    }

    .btns {
        display: flex;
        gap: 5px;
    }
}